## 1. Inventory Price Calculator

In [ ]:
def calculate_inventory_summary (prices):
  total_cost = sum(prices)
  average_cost = sum(prices) / len(prices)

  return total_cost, average_cost

prices_str = input("Enter prices separated by commas (e.g., 120,250,399): ")
l = [float(p.strip()) for p in prices_str.split(',')]

print(calculate_inventory_summary(l))

Enter prices separated by commas (e.g., 120,250,399): 120,250,399,150
(919.0, 229.75)

## 2. Unique Visitor Tracker

In [ ]:
def count_unique_visitors(visitor_list):
  unique_visitors = set(visitor_list)

  no_unique_visitors = len(unique_visitors)
  return no_unique_visitors, unique_visitors

visitors_str = input("Enter visitor IDs separated by commas (e.g., 101,205,101): ")
id_l = [int(v.strip()) for v in visitors_str.split(',')]

no_unique_visitors, unique_visitors = count_unique_visitors(id_l)

print(f"{no_unique_visitors} (The unique IDs are {', '.join(str(id) for id in unique_visitors)})")

Enter visitor IDs separated by commas (e.g., 101,205,101): 101,205,101,310,205,550
4 (The unique IDs are 205, 550, 101, 310)

## 3. Product Category Counter

In [ ]:
def count_categories(products):
  occurrence_dict = dict()
  for p in products:
    if p not in occurrence_dict.keys():
      occurrence_dict[p] = 1
    else:
      occurrence_dict[p] = occurrence_dict[p] + 1

  return occurrence_dict

products_str = input("Enter product categories separated by commas (e.g., Laptop,Smartphone,Monitor): ")
product_l = [p.strip() for p in products_str.split(',')]

print(count_categories(product_l))

Enter product categories separated by commas (e.g., Laptop,Smartphone,Monitor): Laptop,Smartphone,Monitor,Laptop,Smartphone,Headphones,Laptop
{'Laptop': 3, 'Smartphone': 2, 'Monitor': 1, 'Headphones': 1}

## 4. Temperature Analytics

In [ ]:
def analyze_temperatures(temp_list):
  high_list = []
  normal_temp = []

  for temp in temp_list:
    if temp > 38:
      high_list.append(temp)
    else:
      normal_temp.append(temp)

  return high_list, normal_temp

temps_str = input("Enter temperatures separated by commas (e.g., 36.5,38.0,39.1): ")
temperature_l = [float(t.strip()) for t in temps_str.split(',')]

result = analyze_temperatures(temperature_l)

high_list, normal_list = result

print(f"High List (>38째C): {high_list}")
print(f"Normal List (<38째C): {normal_list}")

print(f"Full Output Tuple: {result}")

Enter temperatures separated by commas (e.g., 36.5,38.0,39.1): 36.5,38.0,39.1,37.2,40.5,38.0,37.9
High List (>38째C): [39.1, 40.5]
Normal List (<38째C): [36.5, 38.0, 37.2, 38.0, 37.9]
Full Output Tuple: ([39.1, 40.5], [36.5, 38.0, 37.2, 38.0, 37.9])

## 5. Menu Price Lookup

In [ ]:
def get_price(menu, item):
  if item in menu.keys():
    return menu[item]
  else:
    return "Item not found"

Menu = {"Coffee": 3.50, "Tea": 2.75, "Muffin": 4.00, "Sandwich": 8.50}
item_name = input("Enter the item name to look up (e.g., Muffin): ")

print(get_price(Menu, item_name))

Enter the item name to look up (e.g., Muffin): Muffin
4.0

In [ ]:
item_name = input("Enter the item name to look up (e.g., Muffin): ")

print(get_price(Menu, item_name))

Enter the item name to look up (e.g., Muffin): Donut
Item not found

## 6. Student Grading System

In [ ]:
def calculate_grade(score):
  if score >= 80:
    return 'A+'
  elif 70 <= score <= 79:
    return 'A'
  elif 60 <= score <= 69:
    return 'A-'
  elif 50 <= score <= 59:
    return 'B'
  else:
    return 'F'

def grade_students(student_dict):
  for k, v in student_dict.items():
    student_dict[k] = calculate_grade(v)

  return student_dict

marks_dict = {}
try:
  num_students = int(input("Enter the number of students to grade: "))
  for i in range(num_students):
      name = input(f"Enter name for student {i+1}: ")
      score = int(input(f"Enter score for {name}: "))
      marks_dict[name] = score
except ValueError:
  print("Invalid input. Please enter a valid number for count and score.")

print(grade_students(marks_dict))

Enter the number of students to grade: 4
Enter name for student 1: Alice
Enter score for Alice: 85
Enter name for student 2: Bob
Enter score for Bob: 78
Enter name for student 3: Charlie
Enter score for Charlie: 32
Enter name for student 4: David
Enter score for David: 69
{'Alice': 'A+', 'Bob': 'A', 'Charlie': 'F', 'David': 'A-'}

## 7. Discount Calculator

In [ ]:
def apply_discounts(products):
  return [p[1] - (p[1]*(p[2]/100)) for p in products]

products = []
try:
  num_products = int(input("Enter the number of products: "))
  for i in range(num_products):
      name = input(f"Enter name for product {i+1}: ")
      price = float(input(f"Enter price for {name}: "))
      discount = float(input(f"Enter discount percentage for {name}: "))
      products.append((name, price, discount))
except ValueError:
  print("Invalid input. Please enter valid numbers for price and discount.")

print(apply_discounts(products))

Enter the number of products: 3
Enter name for product 1: Keyboard
Enter price for Keyboard: 80
Enter discount percentage for Keyboard: 20
Enter name for product 2: Mouse
Enter price for Mouse: 25
Enter discount percentage for Mouse: 10
Enter name for product 3: Monitor
Enter price for Monitor: 300
Enter discount percentage for Monitor: 5
[64.0, 22.5, 285.0]

## 8. Hashtag Generator

In [ ]:
def generate_hashtags(sentence):
  return [f'#{w.lower()}' for w in sentence.split()]

sentence = input("Enter a sentence to generate hashtags (e.g., AI Data Science): ")
print(generate_hashtags(sentence))

Enter a sentence to generate hashtags (e.g., AI Data Science): AI Data Science
['#ai', '#data', '#science']

## 9. User Authentication Mock

In [ ]:
def login(username, password):
  CREDENTIALS = {"alex_s": "securepwd1", "maria_t": "password101", "john_d": "johndoe123"}

  if username in CREDENTIALS.keys() and password == CREDENTIALS[username]:
    return "Login Successful"
  else:
    return "Invalid Credentials"

name = input('Enter your username: ')
password = input('Enter your password: ')

print(login(name, password))

Enter your username: maria_t
Enter your password: password101
Login Successful

In [ ]:
name = input('Enter your username: ')
password = input('Enter your password: ')

print(login(name, password))

Enter your username: alex_s
Enter your password: securepwd12
Invalid Credentials

In [ ]:
name = input('Enter your username: ')
password = input('Enter your password: ')

print(login(name, password))

Enter your username: peter_z
Enter your password: peter_password
Invalid Credentials

## 10. Shopping Cart Bill Calculator

In [ ]:
def calculate_total(cart, prices):
  sum = 0

  for c in cart:
    if c in prices:
      sum += prices[c]
    else:
      print(f"Warning: Item '{c}' not found in price list. Skipping.")
  return sum

cart_items_str = input("Enter items in the cart separated by commas (e.g., Milk,Bread,Milk): ")
cart = [item.strip() for item in cart_items_str.split(',')]
prices = {"Milk": 3.00, "Bread": 2.50, "Eggs": 4.00, "Cheese": 5.00}

print(calculate_total(cart, prices))

Enter items in the cart separated by commas (e.g., Milk,Bread,Milk): Milk,Bread,Milk,Cheese,Bread
16.0